<!--           MAIN CONTENTE      -->
<form name="myform">
    <div class="main" >
        <div class="myform">
            
           
            
             
  <uib-accordion close-others="false">

  
    <div uib-accordion-group class="panel-default" >
      <uib-accordion-heading >
      PAYMENT SECTION  &nbsp &nbsp &nbsp &nbsp
      <button type="button" class="btn btn-primary" ng-click="$event.stopPropagation(); info.EditPayment();">Edit</button>
      <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      <!-- body section 1--> 
    <div class="panel panel-default">
      <div class="panel-body">
         <div class="row">
             <div class="col-md-4 col-md-offset-2 text-right">
             <strong>STATUS:</strong>  
             </div>
             <div class="col-md-4 text-left">
               PENDING
             </div>
         </div> 
         <div class="row">
             <div class="col-md-4  col-md-offset-2 text-right">
              <strong>PAYMENT TYPE:</strong> 
              </div>
              <div class="col-md-4 text-left">
              {{info.form.PaymentType}}
              </div>
         </div> 
         <div class="row">
             <div class="col-md-4 col-md-offset-2 text-right">
              <strong>PLEDGE:</strong> 
              </div>
              <div class="col-md-4 text-left">
              {{info.form.checkAmount}}
              </div>
         </div> 
         <div class="row">
          <div class="col-md-4 col-md-offset-2 text-right">
            <strong>TOTAL ANNUAL AMOUNT:</strong>
           </div>
           <div class="col-md-4 text-left">
             {{info.form.TotalAnnualAmount}}
           </div>
        </div>
      </div>
 </div>
 <!-- body section 1--> 
 </div>


    <div uib-accordion-group class="panel-default">
        <uib-accordion-heading>
          SECCION 2  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
          <button type="button" class="btn btn-primary" ng-click="$event.stopPropagation(); info.EditCharity();">Edit</button>
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </uib-accordion-heading>
         <!-- body section 2--> 
     
         
      <div class="panel panel-default">
        <div class="panel-body">
           <div class="row">
               <div class="col-md-4 col-md-offset-2 text-right">
               <strong>Agency:</strong>  
               </div>
               <div class="col-md-4 text-left">
                {{info.form.Agency.ProfileOrganizationNumber}},{{info.form.Agency.Address1}}
               </div>
           </div>  
        </div>
   </div>
         
         <!-- body section 2--> 
   
      </div>
  </uib-accordion>
  


           <br>
           <br>
  
           <ul class="pager">
            <li class="previous"><a ng-click=info.prev() >Previous</a></li>
            <li class="next"><a ng-click="info.Finish()" type="submit">Finish</a></li>
          </ul>
          
        </div>
    </div>
   
  </form>
  
  <!--           MAIN CONTENTE      -->