
        
        <!--           MAIN CONTENTE      -->
        <div class="main" >
          <h2>Adress</h2>
          <form name="myform">
            
            <div class="form-group" >
              <label >Country:</label>
              <select  ng-model="info.form.Country" ng-options="x.CountryName for x in info.contries" class="form-control" ng-required="true"/>
                <option></option>
              </select>
            </div>
            <div class="form-group">
              <label>Adress 1:</label>
              <input type="text" class="form-control" ng-model="info.form.Adress1" placeholder="Adress" ng-required="true" />
            </div>
            <div class="form-group">
              <label>Adress 2:</label>
              <input type="text" class="form-control" ng-model="info.form.Adress2"  placeholder="Adress"  />
            </div>
            <div class="form-group">
              <label >City:</label>
              <input type="text" class="form-control" ng-model="info.form.City" placeholder="City" ng-required="true" />
            </div>
        
              <div class="form-group horizontal-collapse" uib-collapse="info.form.Country.CountryName!='United States'">
                <label >State:</label>
                <select  ng-model="form.State"   ng-options="x.Name for x in info.state" class="form-control"  ng-required="form.Country.CountryName=='United States'" />
                  <option></option>
                </select>
              </div>
        
              <div class="form-inline horizontal-collapse" uib-collapse="info.form.Country.CountryName!='United States'">
                <div class="form-group">
                  <label >Zip Code:</label>
                  <input ng-model="info.form.ZipCode" type="text" placeholder="Zipe Code" class="form-control" ng-required="info.form.Country.CountryName=='United States'" />
                  <input ng-model="info.form.ZipCodeExtension" type="text" placeholder="Zipe Code Extension" class="form-control" ng-required="info.form.Country.CountryName=='United States'" />
                </div>
              </div>
        
              <div class="form-group horizontal-collapse" uib-collapse="info.form.Country.CountryName==undefined||info.form.Country.CountryName=='United States'">
                <label >Province:</label>
                <input type="text" ng-model="info.form.Providence" class="form-control" placeholder="Province" ng-required="info.form.Country.CountryName!='United States'">
              </div>
        
              <div class="form-group horizontal-collapse" uib-collapse="info.form.Country.CountryName==undefined||info.form.Country.CountryName=='United States'">
                <label >Postal Code:</label>
                <input type="text" class="form-control" ng-model="info.form.PostalCode" placeholder="Postal Code" ng-required="info.form.Country.CountryName!='United States'">
              </div>
              <div class="PagerContainer">
                <div class="w3-bar">
                  <button ng-click=info.prev() formnovalidate="formnovalidate" class="w3-button w3-left w3-light-grey">&laquo; Previous</button>
                  <button ng-click="myform.$valid && info.next()" class="w3-button w3-right w3-green">Next &raquo;</button>
                </div>
               </div>
          </form>
          
        </div>
        
        
         <!--           MAIN CONTENTE      -->

