<!--           MAIN CONTENTE      -->
<form name="myform">
    <div class="main" >
        <h2>{{info.Data.PanelTitle}}</h2>
        <br>
        <div class="myform">
            <!--- amount -->

            <div >
              <div class="list">
                <span ng-repeat="agency in info.Data.PanelItemList"  ng-model="info.form.Agency">
                  <input type="radio" name="agency"  ng-model="info.form.Agency" ng-value="agency" ng-required="true"/>
                  {{agency.ProfileOrganizationNumber}}, {{agency.Address1}}<br>
                  <!--div innerHtml="{{agencia.Description}}">{{agencia.Description}}</div-->          
              </span>
              </div>
              
              <br><br>
            </div>
          </div>
          <!--- amount -->
           
           <br>
           <p ng-show="info.messageVisibility">{{info.message}} </p>
           <br>
        </div>
    </div>
    <div class="PagerContainer">
      <div class="w3-bar">
        <button ng-click=info.prev() formnovalidate="formnovalidate" class="w3-button w3-left w3-light-grey">&laquo; Previous</button>
        <button ng-click="myform.$valid && info.next()" class="w3-button w3-right w3-green">Next &raquo;</button>
      </div>
     </div>
  </form>
  
  <!--           MAIN CONTENTE      -->