
        <!--           MAIN CONTENTE      -->
        <form >
        <div class="main" >
          <h2>{{info.PaymentTypeLabel}}</h2>      
          
            <div class="form-group">
              <label >Card Type:</label>
              <select ng-model="info.form.CreditCard"  ng-options="x.description for x in info.CreditCardTypeList" class="form-control" ng-required="true"/>
                <option></option>
              </select>
            </div>
            <div class="form-group">
              <label>Card Number:</label>
              <input type="number"  id="CardNumber" ng-model="info.form.CardNumber" class="form-control"  placeholder="Card Number" ng-required="true" />
            </div>
            <div class="form-group">
              <label >Card Verification Number:</label>
              <input type="number"  id="VerificationNumber" ng-model="info.form.VerificationNumber" class="form-control" placeholder="Card Verification Number" ng-required="true"/>
              <small   class="form-text text-muted">what is this?</small>
            </div>
            <div class="form-group">
              <label >Name on Card:</label>
              <input type="text" id="Name" ng-model="info.form.Name"  class="form-control"  placeholder="Name on Card" ng-required="true"/>
            </div>
            <div class="form-group">
              <label >Expiration Date:</label>
              <input type="month" class="form-control"  id='txtDate' ng-model="info.form.ExpirationDate"  ng-required="true"/>              
            </div>
            <div class="form-group">
              <label >Contact Email Adress:</label>
              <input type="email" class="form-control" ng-model="info.form.EmailAdress" id="email" placeholder="Contact Email Adress" name="email"/>
              <p ng-show="info.messageVisibility">{{info.message}} </p>
            </div>          
            
        </div>
        <div class="PagerContainer">
          <div class="w3-bar">
            <button ng-click="info.prev()"" formnovalidate="formnovalidate" class="w3-button w3-left w3-light-grey">&laquo; Previous</button>
            <button ng-click="info.next()" class="w3-button w3-right w3-green">Next &raquo;</button>
          </div>
         </div>
      </form>
         <!--           MAIN CONTENTE      -->


    
