<div class="modal-header">
    <h2>TRANSACCION {{info.SpecificRecord.TransactionNumber}}</h2>
  </div>
  <div class="modal-body">
   <p>DateCreated: {{info.SpecificRecord.DateCreated | date}}</p>
   <p>Status: Submitted</p>
   <p>PaymentType: Cash  </p>
   <p>Pledge:  {{info.SpecificRecord.PaymentAmount | currency}}</p>
   <p>Total Annual Amount:  {{info.SpecificRecord.PaymentTotalValue | currency}}</p>
  </div>
  <div class="modal-header">
    <h2>Charity Details</h2>
  </div>
  <div class="modal-body">
    <p>CampaignName: {{info.SpecificRecord.CampaignName }}</p>
    <p>CampaignId: {{info.SpecificRecord.CampaignId }}</p>
   </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="info.ok()">Ok</button>
  </div>