<!--           MAIN CONTENTE      -->

<form name="myform">
  <h1>Welcome</h1>
  <div class="main">
      <div class="imgcontainer">
          <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/User_Circle.png" alt="Avatar" class="avatar">
      </div>

      <div class="form-group">
          <label>Compaing Code:</label>
          <input class="form-control" ng-model="compaing" placeholder="Enter Compaing Code" required />
      </div>
      <div class="form-group">
          <label>Username:</label>
          <input class="form-control" ng-model="user" placeholder="Enter Username" required />
      </div>
      <div class="form-group">
          <label>Password:</label>
          <input type="password" class="form-control" ng-model="pass" placeholder="Enter Password" required />
      </div>

      <div class="text-center">
          <input type="submit" class="btn btn-primary submit" ng-click="myform.$valid && log()" role="button" placeholder="Login" />
      </div>
      <p ng-show="visible">{{respuesta}} </p>

  </div>
</form>

<!--           MAIN CONTENTE      -->