<!--           MAIN CONTENTE      -->
<form name="myform">
  <div class="main" >
      <h2>{{info.Data.PaymentTypeLabel}}</h2>
      <div class="myform">
          <p>{{info.Data.PaymentInstructions}}</p>
          <p>{{info.Data.PaymentQuestion}}</p>
          <!--- amount -->
          <div class="payments">
            <span ng-repeat="pay in info.Data.AmountQuestions[0].AmountOptions" class="form-inline alinear" ng-model="form.checkAmount">
              <div ng-if="pay.AmountLabel!=''" >
                <input type="radio" name="amount"  ng-model="info.form.checkAmount" ng-value="pay.Amount" />&nbsp <strong>{{pay.AmountLabel}}</strong>
                &nbsp &nbsp &nbsp
              </div>
              <div ng-if="pay.AmountLabel==''">
             
                  <input type="radio" name="amount"     ng-value="pay.AmountLabel" ng-required="true"/>
                  &nbsp<strong>$</strong>
                  <input type="number" class="amount-input"  placeholder=""  ng-model="info.form.checkAmount" class="form-control" />
                              
              </div>
            </span>
        </div>
        <!--- amount -->
         <!--- frecuency -->
         <br>
         <br>
         <p>{{info.Data.FrequencyInstructions}}</p>


         <div class="payments" >
           <span ng-repeat="pay in info.FrequencyTypeList" class="form-inline alinear"  ng-model="form.frequency">
             <input type="radio" name="frequency" ng-model="info.frequency"   ng-value="pay.value" ng-required="true"/>&nbsp<strong>{{pay.description}} &nbsp &nbsp &nbsp &nbsp </strong>
           &nbsp &nbsp &nbsp
           </span>              
         </div>
         
         <!--- frecuency -->
         <br>
         <p ng-show="info.messageVisibility">{{info.message}} </p>
         <br>

         

         
      </div>
    
  </div>

 <div class="PagerContainer">
  <div class="w3-bar">
    <button ng-click="info.prev()" formnovalidate="formnovalidate" class="w3-button w3-left w3-light-grey">&laquo; Previous</button>
    <button ng-click="myform.$valid && info.next()" class="w3-button w3-right w3-green">Next &raquo;</button>
  </div>
 </div>
  

</form>

<!--           MAIN CONTENTE      -->