  <!--           MAIN CONTENTE      -->
<form name="myform">
    <div class="main" >
        <div class="myform">
            
            <h2>Payment Details</h2>
            <div class="table-responsive">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">DATE</th>
                    <th scope="col">CAMPAIGN</th>
                    <th scope="col">PLEDGE</th>
                    <th scope="col">TOTAL</th>
                  </tr>
                </thead>
                <tbody>                  
                  <tr ng-repeat="record in info.Data.PledgeList"  ng-click=info.detail(record)>
                    <td>{{ record.DateCreated | date}}</td>
                    <td>{{ record.CampaignName }}</td>
                    <td>{{ record.TransactionNumber}}</td>
                    <td>{{ record.PaymentTotalValue  | currency }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            
          
        </div>
    </div>
   
  </form>
  